
    <footer class="main_container">
        <img id="background_img_footer" src="/img/images/nuevas-piezas-automoviles-sobre-fondo-oscuro_127657-7232.jpg" alt="">
    <div class="footer__container">
        <div class="footer__section footer__map">
            <div class="map-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.4146850431443!2d-74.12197672630064!3d4.519060343208089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3fa3ef8974bfd5%3A0x7e8ac9f434793f93!2sAUTOTRONICA%20MASTER%20SAS!5e0!3m2!1ses-419!2sco!4v1731176903730!5m2!1ses-419!2sco"
                    style="border:0;" allowfullscreen="" loading="lazy" title="Ubicación de Autotrónica Master S.A.S"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="footer__section footer__contact">
            <h3>Contactanos</h3>
            <a href="mailto:contacto@autotronicamaster.com"><img class = "icons_footer"src="/img/icons/icon_footer/correo.svg"
                    alt="Correo">contacto@autotronicamaster.com</a>
            <a
                href="https://wa.me/573115421001?text=¡Hola!%20Estoy%20interesad@%20en%20conocer%20más%20sobre%20los%20servicios%20automotrices%20de%20Autotrónica%20Master%20S.A.S.%20🚗%20🔧">
                <img class = "icons_footer" src="/img/icons/icon_footer/phone-call-svgrepo-com.svg" alt="">(+57)
                311 5421001</a>
        </div>
        <div class="footer__section footer__social">
            <h3>Siguenos</h3>
            <ul>
                <li><a href="#"><img class = "icons_footer" src="/img/icons/icon_footer/facebook.svg" alt="Facebook"></a></li>
                <li><a href="#"><img class = "icons_footer" id = "social_x" src="/img/icons/icon_footer/X_logo_2023_original.svg" alt="X"></a></li>
                <li><a href="#"><img class = "icons_footer" src="/img/icons/icon_footer/instagram.svg" alt="Instagram"></a></li>
            </ul>
        </div>
        <div class="footer__section footer__copyright">
            <p>©2024 All rights reserved. Diseñado por TecnoByteSolution.</p>
        </div>
    </div>
</footer>