<!-- Navbar -->
<div id="overlay" class="overlay"></div>
<nav id="navbar">
    <a href="">
        <img src="/img/others/logo-cut.png" id="logo" alt="Logo Autotronica">
    </a>
    <input type="checkbox" id="hammenu-button">
    <label for="hammenu-button" aria-label="Menú de hamburguesa" class="hammenu">
        <img src="/img/icons/list.svg" class="hammenu-icon" alt="Menú de hamburguesa">
    </label>
    <ul class="nav-menu">
        <li class="nav-menu-item"><a href="">Inicio</a></li>
        <li class="nav-menu-item"><a href="#services-section">Servicios</a></li>
        <li class="nav-menu-item"><a href="">Nosotros</a></li>
        <li class="nav-menu-item"><a href="">Contáctanos</a></li>
        <li class="nav-menu-item">
            <div>
                <a href="" class="login-button" id="sing-in" role="button">
                    <img src="/img/icons/person-fill.svg" alt="Ingresar">Ingresar</a>
            </div>
        </li>
    </ul>
</nav>