<!-- Slider logo efect -->

<div class="slider">
    <div class="slides">
        <div class="slide">
            <img src="img/others/setbus.png" alt="">
        </div>
        <div class="slide">
            <img src="img/others/byd.png" alt="">
        </div>
        <div class="slide">
            <img src="img/others/hino.png" alt="">
        </div>
        <div class="slide">
            <img src="img/others/freightliner.png" alt="">
        </div>
        <div class="slide">
            <img src="img/others/jac.png" alt="">
        </div>
        <div class="slide">
            <img src="img/others/thoreb.png" alt="">
        </div>
        <!--slides repeat  -->
        <div class="slide">
            <img src="img/others/setbus.png" alt="">
        </div>
        <div class="slide">
            <img src="img/others/byd.png" alt="">
        </div>
        <div class="slide">
            <img src="img/others/hino.png" alt="">
        </div>
        <div class="slide">
            <img src="img/others/freightliner.png" alt="">
        </div>
        <div class="slide">
            <img src="img/others/jac.png" alt="">
        </div>
        <div class="slide">
            <img src="img/others/thoreb.png" alt="">
        </div>
    </div>
</div>