// Variables
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$transition-duration: 0.3s;

// Mixins
@mixin tablet {
    @media (min-width: #{$breakpoint-tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
        @content;
    }
}

@mixin hover-opacity {
    color: white;
    text-decoration: none;
    transition: opacity $transition-duration ease, transform $transition-duration ease;

    &:hover {
        opacity: 0.8;
        transform: translateY(-5px);
    }
}

.main_container {
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(0, 31, 38, .44) 0, rgba(0, 0, 12, .96) 100%);

    #background_img_footer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
}

.footer {
    padding: 1rem;

    &__container {
        display: grid;
        gap: 1rem;
        max-width: 1600px;
        min-width: none;
        margin: 0 auto;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        color: white;
        position: relative;
    }

    &__section {
        padding: 1rem;
        display: flex;
        position: relative;
        z-index: 1;
        flex-direction: column;
        align-items: center;

        h3 {
            margin-top: 0;
        }
    }



    &__map {
        grid-column: 1 / -1; // Asegura que el mapa ocupe toda la anchura

        .map-container {
            width: 100%;
            position: relative;
            overflow: hidden;
            height: 400px;

            iframe {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
        }
    }

    &__contact {

        a {
            @include hover-opacity;
            vertical-align: middle;
            display: flex;
            align-items: center;

            .icons_footer {

                height: 33px;
                width: auto;
                margin: 0.3rem;
            }

            img {
                filter: invert(100%) brightness(200%) contrast(100%);
            }
        }
    }

    &__social {
        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            li {
                .icons_footer {

                    height: 33px;
                    width: auto;
                    margin: 0.3rem;
                    @include hover-opacity;
                }
                
                #social_x {
                    filter: invert(100%) brightness(200%) contrast(100%);
                }
            }

        }
    }

    &__copyright {
        justify-content: center;
        opacity: 0.5;
        align-items: center;
    }
}

// Tablet styles
@include tablet {
    .footer {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "map map"
                "contact social"
                "copyright copyright";
        }

        &__map {
            grid-area: map;
        }

        &__contact {
            grid-area: contact;
        }

        &__social {
            grid-area: social;
        }

        &__copyright {
            grid-area: copyright;
        }
    }
}

// Desktop styles
@include desktop {
    .footer {
        &__container {
            grid-template-columns: 1fr 1fr;
        }
    }
}