// Reseteo y estilos globales
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  // border: 1px dotted red;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
}

// Estilos de header
header {
  height: 100vh;
  display: flex;
  position: relative;
}

// Sección de video en el header
.header-video {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    /* Fija el ancho al 100% del viewport */
    height: 100vh;
    transform: translate(-50%, -50%);
    will-change: transform;
    object-fit: cover;
    z-index: 0;
  }
}

// Capa de superposición en el header
.header-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(69, 74, 88, 0.6);
  background-color: rgba(75, 74, 74, 0.6);
  z-index: 0;
}

// Presentación de contenido dentro del header
.wrap-presentation {
  -webkit-box-shadow: 0px 0px 37px 17px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 0px 37px 17px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 0px 37px 17px rgba(0, 0, 0, 0.46);
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 85%;
  max-width: 950px;
  padding: 20px;
  background: rgba(23, 23, 23, 0.963);
  border-radius: 10px;
  z-index: 1;
  position: relative;

  h1 {
    text-align: center;
    color: rgb(228, 143, 30);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
  }

  p {
    font-size: clamp(13px, 1.4vw, 2rem);
    font-family: Helvetica;
    text-align: center;
    color: antiquewhite;
  }

  div {
    text-align: center;
    padding: 1% 0;
  }
}

#sing-in {
  line-height: 1.5;
  color: black;
  padding: 0.4rem;
  text-align: center;
}
//  Principal
main {
  #services-section {
    background-image: url(../../../img/backgrounds/engine.jpg);
    background-size: cover;

    h2 {
      font-family: "Helvetica";
      font-size: 3rem;
      text-align: center;
      margin-bottom: 2rem; // Espacio debajo del título
      color: #000000; // Color del título
    }

    // Servicios
    .services {
      position: relative;
      justify-content: space-around;
      display: flex;
      flex-direction: row;
      text-align: center;
      flex-wrap: wrap;
      article {
        background-color: rgb(228, 143, 30);
        h3 {
          font-size: clamp(16px, 1.4vw, 2rem);
          font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
          color: rgb(0, 0, 0);
        }
        p {
          color: #000000;
        }
      }
    }
  }
}
