@charset "UTF-8";
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

:root {
  --primary-color: #FFA000;
  --hover-bg-start: #efa119;
  --hover-bg-end: #fbcc41;
  --box-shadow-inset: inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
  --box-shadow-outer: 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
  --font-family: "Lato", sans-serif;
  --font-weight: 500;
  --btn-height: 40px;
  --btn-padding: 0 15px;
}

.frame {
  text-align: center;
}
.frame .custom-btn {
  text-decoration: none;
  width: auto;
  height: var(--btn-height);
  padding: var(--btn-padding);
  color: #fff;
  border-radius: 5px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-inset), var(--box-shadow-outer);
  outline: none;
  text-align: center;
}
.frame .custom-btn.btn-1 {
  background: var(--primary-color);
  border: none;
  position: relative;
  z-index: 1;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.frame .custom-btn.btn-1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: var(--hover-bg-start);
  background-image: linear-gradient(315deg, var(--hover-bg-start) 0%, var(--hover-bg-end) 74%);
  box-shadow: var(--box-shadow-inset), var(--box-shadow-outer);
}
.frame .custom-btn.btn-1:hover {
  color: #000;
  transform: scale(1.02);
}
.frame .custom-btn.btn-1:hover::after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.frame .custom-btn.btn-1:active {
  top: 2px;
  transform: scale(0.98);
}

:root {
  /* Colors */
  --brand-color: hsl(46, 100%, 50%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: sans-serif;
  --font-text: sans-serif;
}

/* CARD COMPONENT */
.card {
  align-items: center;
  margin: auto;
  display: grid;
  margin: 0.5rem auto;
  width: 80vw;
  max-width: 21.875rem;
  height: 28.125rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card > * {
  grid-column: 1/2;
  grid-row: 1/2;
}

.card__background {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.5) 10%, hsla(0, 0%, 0%, 0.95) 100%);
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__description {
  margin-top: 16px;
}

.card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: -0.75rem;
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button {
  text-decoration: none;
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}
.card__button:hover {
  background-color: aliceblue;
}

.card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }
  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }
  .card__background {
    transition: transform 500ms ease-in;
  }
  .card__content--container > :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }
  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }
  .card:hover .card__content,
  .card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }
  .card:focus-within .card__content {
    transition-duration: 0ms;
  }
  .card:hover .card__background,
  .card:focus-within .card__background {
    transform: scale(1.3);
  }
  .card:hover .card__content--container > :not(.card__title),
  .card:hover .card__button,
  .card:focus-within .card__content--container > :not(.card__title),
  .card:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }
  .card:hover .card__title::after,
  .card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}
/** <article class="card">
/*                    <img
/*                      class="card__background"
/*                      src="img/images/ecu_1.png"
/*                      alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
/*                      width="1920"
/*                      height="2193"
/*                    />
/*                    <div class="card__content | flow">
/*                      <div class="card__content--container | flow">
/*                        <h3 class="card__title">Colombia</h3>
/*                        <p class="card__description">
/*                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
/*                          labore laudantium deserunt fugiat numquam.
/*                        </p>
/*                      </div>
/*                      <button class="card__button">Read more</button>
/*                    </div>
/* </article>
**/
.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.slider .slides {
  display: flex;
  animation: scroll 20s linear infinite;
  width: 1800px;
}
.slider .slides .slide {
  display: flex;
  align-items: center;
  width: 150px;
  margin: 5px;
}
.slider .slides .slide img {
  filter: drop-shadow(0px 0px 2px rgba(150, 149, 149, 0.5));
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-900px);
    /* Cambia según el total de slides */
  }
}
:root {
  --primary-color: #FFA000;
  --hover-bg-start: #efa119;
  --hover-bg-end: #fbcc41;
  --box-shadow-inset: inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
  --box-shadow-outer: 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
  --font-family: "Lato", sans-serif;
  --font-weight: 500;
  --btn-height: 40px;
  --btn-padding: 0 15px;
}

.frame {
  text-align: center;
}
.frame .custom-btn {
  text-decoration: none;
  width: auto;
  height: var(--btn-height);
  padding: var(--btn-padding);
  color: #fff;
  border-radius: 5px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-inset), var(--box-shadow-outer);
  outline: none;
  text-align: center;
}
.frame .custom-btn.btn-1 {
  background: var(--primary-color);
  border: none;
  position: relative;
  z-index: 1;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.frame .custom-btn.btn-1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: var(--hover-bg-start);
  background-image: linear-gradient(315deg, var(--hover-bg-start) 0%, var(--hover-bg-end) 74%);
  box-shadow: var(--box-shadow-inset), var(--box-shadow-outer);
}
.frame .custom-btn.btn-1:hover {
  color: #000;
  transform: scale(1.02);
}
.frame .custom-btn.btn-1:hover::after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.frame .custom-btn.btn-1:active {
  top: 2px;
  transform: scale(0.98);
}

#navbar {
  box-sizing: border-box;
  position: fixed;
  margin: 0;
  width: 100%;
  font-family: Helvetica;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  z-index: 9999;
}
#navbar .login-button {
  text-decoration: none;
  border-radius: 7px;
  font-family: Helvetica;
  font-weight: bold;
  color: black;
  background-color: rgb(255, 179, 0);
  text-align: center;
  padding: 1% 3%;
  padding: 1ch;
}
#navbar .login-button:hover {
  background-color: aliceblue;
}
#navbar a #logo {
  margin: 4px;
  max-width: 130px;
}
#navbar .hammenu {
  display: none;
  border: 1px solid rgb(218, 215, 215);
  border-radius: 1px;
  cursor: pointer;
}
#navbar .hammenu img {
  margin: 1px;
  vertical-align: middle;
}

#navbar,
.nav-menu,
.nav-menu-item {
  display: flex;
}

.nav-menu-item {
  list-style: none;
  padding: 4% 1rem;
}
.nav-menu-item div img {
  vertical-align: text-top;
  margin-right: 2px;
}
.nav-menu-item a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(195, 192, 192);
}

/* Menu de hamburguesa */
#hammenu-button {
  display: none;
}

.hammenu-icon {
  width: 25px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  transition: background-color 0.3s ease;
}

/* Acciones */
.nav-menu-item a:hover {
  color: white;
}

@media (max-width: 991px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.644);
    display: none;
    z-index: 9998;
  }
  .nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    background-color: #333;
    flex-direction: column;
    z-index: 1;
  }
  .nav-menu .nav-menu-item {
    display: flex;
    justify-content: center;
    border-top: 1px solid #474747;
    border-bottom: 1px solid #474747;
    padding: 1% 0;
    width: 100%;
  }
  .nav-menu .nav-menu-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
  }
  #navbar .hammenu {
    display: initial;
  }
  #hammenu-button:checked ~ .nav-menu {
    display: flex;
    flex-direction: column;
  }
  #hammenu-button:checked + label .hammenu-icon {
    background-color: rgb(218, 215, 215);
    filter: drop-shadow(0 0 0px rgba(218, 215, 215, 0.5));
  }
}
.elementor-divider {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}
.elementor-divider .elementor-divider-separator {
  flex-grow: 1;
  height: 3px;
  background-color: #FFA000;
  margin: 0.5rem;
  border-radius: 2px;
}

/**
/* Implementacion en HTML
/*
/* <div class="elementor-divider">
/*    <span class="elementor-divider-separator"></span>
/*    <span>Texto del Divisor</span>
/*    <span class="elementor-divider-separator"></span>
/* </div>
**/
.btn-wpp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #00bb2d;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 9997;
}
.btn-wpp:hover {
  background-color: #009c1f;
  transform: scale(1.1);
}
.btn-wpp img {
  width: 30px;
  height: 30px;
  filter: invert(100%) brightness(200%) contrast(100%);
}
@media (max-width: 768px) {
  .btn-wpp {
    width: 45px;
    height: 45px;
    bottom: 20px;
    right: 20px;
  }
  .btn-wpp img {
    width: 25px;
    height: 25px;
  }
}

/**
 * Implementación en HTML
 *
 * <a href="https://wa.me/573115421001" target="_blank" class="btn-wpp">
 *     <img src="/img/icons/whatsapp.svg" alt="botón whatsapp">
 * </a>
 *
 * Este botón de WhatsApp está diseñado para ser un acceso directo que permite a los usuarios comunicarse rápidamente.
 * El ícono se muestra como una imagen SVG y puede ser estilizado con CSS para cambiar su color y tamaño según las necesidades.
 * La clase 'btn-wpp' aplica estilos para la posición, tamaño, color de fondo y efectos visuales.
 * 
 * Se recomienda mantener el enlace actualizado con el número de contacto deseado.
 **/
.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: auto;
  height: auto;
  min-height: 60px;
}
.arrow-container .arrow {
  position: relative;
  width: 0;
  height: 0;
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
  border-top: 1.2rem solid rgba(255, 255, 255, 0.0196078431);
  align-items: flex-end;
  animation: move-arrow 2s ease-in-out infinite, color-change 2s ease-in-out infinite;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.507));
  transition: all 0.3s ease;
}
@keyframes move-arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes color-change {
  0% {
    border-top: 1.2rem solid rgba(255, 255, 255, 0.0196078431);
  }
  50% {
    border-top: 1.2rem solid #ffffff;
  }
  100% {
    border-top: 1.2rem solid rgba(255, 255, 255, 0.0196078431);
  }
}
.arrow-container:hover .arrow {
  transform: scale(1.05) translateY(-0.1rem);
  border-top-color: rgb(255, 179, 0);
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.507));
  transition: transform 0.6s ease, filter 0.6s ease, border-top-color 0.6s ease;
  animation: none;
}

@media (max-width: 768px) {
  .arrow-container {
    min-height: 200px;
  }
}
/**
/* Implementation:
/* <a href="#" class="arrow-container">
/*  <div class="arrow"></div>
/* </a>
**/
.footer {
  padding: 1rem;
}
.footer__container {
  display: grid;
  gap: 1rem;
  max-width: auto;
  margin: 0 auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: white;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 31, 38, 0.44) 0, rgba(0, 0, 12, 0.96) 100%); /* Degradado gris azulado muy claro */
}
.footer__container #background_img_footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.footer__section {
  padding: 1rem;
  display: flex;
  position: relative;
  z-index: 1;
}
.footer__section h3 {
  margin-top: 0;
}
.footer__map {
  grid-column: 1/-1;
  flex-direction: column;
  align-items: center;
}
.footer__map .map-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 400px;
  max-height: 500px;
}
.footer__map .map-container iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.footer__contact {
  flex-direction: column;
  align-items: center;
}
.footer__contact a {
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  vertical-align: middle;
  display: flex;
  align-items: center;
}
.footer__contact a:hover {
  opacity: 0.8;
  transform: translateY(-5px);
}
.footer__contact a .icons_footer {
  height: 33px;
  width: auto;
  margin: 0.3rem;
}
.footer__contact a img {
  filter: invert(100%) brightness(200%) contrast(100%);
}
.footer__social {
  flex-direction: column;
  align-items: center;
}
.footer__social ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.footer__social ul li .icons_footer {
  height: 33px;
  width: auto;
  margin: 0.3rem;
}
.footer__social ul li img {
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.footer__social ul li img:hover {
  opacity: 0.8;
  transform: translateY(-5px);
}
.footer__social ul li #social_x {
  filter: invert(100%) brightness(200%) contrast(100%);
}

#Copyright {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "map map" "contact social";
  }
  .footer__map {
    grid-area: map;
  }
  .footer__contact {
    grid-area: contact;
  }
  .footer__social {
    grid-area: social;
  }
}
@media (min-width: 1024px) {
  .footer__container {
    grid-template-columns: 1fr 1fr;
  }
}
main {
  margin-bottom: 2rem;
}

:root {
  --color-primary: #FFA000;
  --color-secondary: #00BCD4;
  --color-accent: #FFC107;
  --color-background: #FFECB3;
  --color-text-dark: #212121;
  --color-text-medium: #757575;
  --color-text-light: #BDBDBD;
}

.sobre-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: var(--color-text-dark);
}
.sobre-nosotros .nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  background-color: var(--color-primary);
  padding: 2rem;
  border-radius: 10px;
  margin: 20px;
  color: var(--color-text-dark);
}
@media (min-width: 860px) {
  .sobre-nosotros .nosotros {
    flex-direction: row;
  }
}
.sobre-nosotros .nosotros .descript {
  margin-bottom: 1rem;
  text-align: center;
}
@media (min-width: 860px) {
  .sobre-nosotros .nosotros .descript {
    margin: 0 25px 0 0;
    text-align: left;
    width: 50%;
  }
}
.sobre-nosotros .nosotros .descript h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-text-dark);
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .sobre-nosotros .nosotros .descript h2 {
    font-size: 2rem;
  }
}
.sobre-nosotros .nosotros .slider {
  width: 100%;
  max-width: 400px;
  height: 260px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
@media (min-width: 860px) {
  .sobre-nosotros .nosotros .slider {
    width: 50%;
  }
}
.sobre-nosotros .nosotros .slider ul {
  display: flex;
  padding: 0;
  width: 300%;
  animation: slide 15s infinite;
}
.sobre-nosotros .nosotros .slider li {
  width: 33.33%;
  list-style: none;
}
.sobre-nosotros .nosotros .slider img {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}
@keyframes slide {
  0%, 30% {
    margin-left: 0;
  }
  33%, 63% {
    margin-left: -100%;
  }
  66%, 96% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0;
  }
}
.sobre-nosotros .elegirnos {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;
  background-color: var(--color-background);
  padding: 2rem;
  border-radius: 10px;
  margin: 20px;
  color: var(--color-text-dark);
}
.sobre-nosotros .elegirnos h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 1000;
  color: var(--color-text-dark);
}
@media (min-width: 768px) {
  .sobre-nosotros .elegirnos h2 {
    font-size: 2rem;
  }
}
.sobre-nosotros .mision-vision {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  background-color: var(--color-accent);
  padding: 2rem;
  border-radius: 10px;
  margin: 20px;
  color: var(--color-text-dark);
}
@media (min-width: 768px) {
  .sobre-nosotros .mision-vision {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}
.sobre-nosotros .mision-vision .mision,
.sobre-nosotros .mision-vision .vision {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .sobre-nosotros .mision-vision .mision,
  .sobre-nosotros .mision-vision .vision {
    width: 45%;
  }
}
.sobre-nosotros .mision-vision h2 {
  font-size: 1.5rem;
  font-weight: 1000;
  color: var(--color-text-dark);
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .sobre-nosotros .mision-vision h2 {
    font-size: 2rem;
  }
}
.sobre-nosotros .mision-vision .vertical-divider {
  display: none;
}
@media (min-width: 768px) {
  .sobre-nosotros .mision-vision .vertical-divider {
    display: block;
    border-left: 2px solid var(--color-text-medium);
    height: auto;
    align-self: stretch;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}
* h2, * h3, * p {
  font-family: "Helvetica";
}

body {
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
}

header {
  height: 100vh;
  display: flex;
  position: relative;
}

.header-video {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.header-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  /* Fija el ancho al 100% del viewport */
  height: 100vh;
  transform: translate(-50%, -50%);
  will-change: transform;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.header-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 74, 88, 0.6);
  z-index: 0;
}
.header-overlay .wrap-presentation {
  box-shadow: 0px 0px 37px 17px rgba(0, 0, 0, 0.46);
  display: inline-block;
  align-items: center;
  margin: auto auto;
  justify-content: center;
  width: 85%;
  max-width: 950px;
  padding: 20px;
  background: rgba(23, 23, 23, 0.963);
  border-radius: 10px;
  z-index: 1;
  position: relative;
  margin-top: 20vh;
}
.header-overlay .wrap-presentation h1 {
  text-align: center;
  color: rgb(228, 143, 30);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
}
.header-overlay .wrap-presentation p {
  font-size: clamp(13px, 1.4vw, 2rem);
  font-family: Helvetica;
  text-align: center;
  color: antiquewhite;
}
.header-overlay .wrap-presentation div {
  text-align: center;
  padding: 1% 0;
}

#sing-in {
  line-height: 1.5;
  color: black;
  padding: 0.4rem;
  text-align: center;
}

main #services-section {
  max-width: 1600px;
  min-width: none;
  margin: 0 auto;
}
main #services-section .frame {
  margin: 50px auto;
}
main #services-section h2 {
  font-family: "Helvetica";
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  main #services-section h2 {
    margin: 1rem 0.5rem;
    font-size: 1.5rem;
  }
}
main #services-section .services {
  position: relative;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main #services-section .services h3 {
  font-size: 1.3rem;
  font-weight: 790;
  color: aliceblue;
}
main #services-section .services p {
  color: aliceblue;
}/*# sourceMappingURL=styles.css.map */